[MASTER]
disable =
        bad-continuation,
        invalid-name
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.join(os.path.dirname(find_pylintrc()), 'building_detection'))"
[FORMAT]
max-line-length=127
[MISCELLANEOUS]
notes=FIXME,XXX
